## 판다

판다 series 는 index로 구성된 행이다. 판다 dataframe은 series의 합으로써, index(가로행)과 column(세로열)로 구성되어있다.

In [2]:
import pandas as pd
names=['Bob','Jessica','Mary','John','Mel']
births=[968,155,77,578,973]
BabyDataSet=list(zip(names,births))

df=pd.DataFrame(data=BabyDataSet, columns=['Names','Births'])
print(df);print(df.shape);print(df.index);print(df.columns);print(df.axes)

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973
(5, 2)
RangeIndex(start=0, stop=5, step=1)
Index(['Names', 'Births'], dtype='object')
[RangeIndex(start=0, stop=5, step=1), Index(['Names', 'Births'], dtype='object')]

In [14]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

 
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])

frames=[df1,df2,df3]
result1=pd.concat(frames)
result2=pd.concat(frames,keys=['x','y','z'])
result3=pd.concat([df2,df4],axis=1)
result3

     A    B    C    D    B    D    F
2  NaN  NaN  NaN  NaN   B2   D2   F2
3  NaN  NaN  NaN  NaN   B3   D3   F3
4   A4   B4   C4   D4  NaN  NaN  NaN
5   A5   B5   C5   D5  NaN  NaN  NaN
6   A6   B6   C6   D6   B6   D6   F6
7   A7   B7   C7   D7   B7   D7   F7

{'int64':    Births
 0     968
 1     155
 2      77
 3     578
 4     973, 'object':      Names
 0      Bob
 1  Jessica
 2     Mary
 3     John
 4      Mel}