In [ ]:
---
title: "REC 가격예측 연습1"
author: "youngji"
date: '2017-04-03'
---

In [ ]:
REC(Renewable Energy Certificate)은 신재생에너지 생산에 대한 대가로 주어지는 증서이고, 이것을 재생에너지를 의무적으로 생산해야 하는 발전사에게 팔수 있다. 최근 SMP단가가 하락함에 따라, REC가격은 신재생에너지 발전수익에 더욱 중요한 역할을 한다. REC가격은 16년 5월 부터 태양광/비태양광 시장이 통합되었고, 17년 3월부터 양방향 거래시장이 활성화 되었다. REC가격은 정책적인 영향을 많이 받아서 안정적인 예측이 힘들며, 최근에도 시장규칙이 변경되었기 때문에 예측하기는 더더욱 어렵다. 

본 예측에서는 선형회귀(Linear Regression)과 K-최근접 이웃법을 활용해서 REC가격을 예측해보겠다.

In [3]:
import pandas as pd
import os
from sklearn import neighbors

os.chdir("/Users/youngji/Dropbox/data")
smp_price1=pd.read_csv("smp_price.csv",header=1,names=['육지(SMP)','제주(SMP)','SMP','BLMP'])
smp_price2=smp_price1.sort_index(axis=0, ascending=True)
smp_price3=smp_price2.set_index(keys=pd.period_range(start='2001-04',periods=smp_price2.shape[0],freq='M'))
smp_price4=smp_price3['SMP']

elec_supply1=pd.read_csv("elec_supply.csv",header=0,names=["기간","설비용량","공급능력","최대전력","공급예비력","공급예비율","기준시간"])
elec_supply2=elec_supply1.sort_values("기간", ascending=True)
elec_supply3=elec_supply2[elec_supply2.기간!='2002/08']
elec_supply4=elec_supply3.set_index(keys=pd.period_range(start='2003-01',periods=elec_supply3.shape[0],freq='M'))
elec_supply4

              기간    설비용량   공급능력   최대전력  공급예비력  공급예비율               기준시간
2003-01  2003/01   5,380  5,248  4,505    743     17  2003/01/07(19:00)
2003-02  2003/02   5,515  5,080  4,357    723     17  2003/02/12(24:00)
2003-03  2003/03   5,515  5,171  4,270    901     21  2003/03/04(23:00)
2003-04  2003/04   5,515  5,004  4,084    920     23  2003/04/09(23:00)
2003-05  2003/05   5,562  4,729  4,068    661     16  2003/05/28(15:00)
2003-06  2003/06   5,562  5,161  4,204    957     23  2003/06/20(15:00)
2003-07  2003/07   5,607  5,581  4,303  1,278     30  2003/07/16(15:00)
2003-08  2003/08   5,608  5,549  4,739    810     17  2003/08/22(12:00)
2003-09  2003/09   5,608  5,264  4,488    776     17  2003/09/05(15:00)
2003-10  2003/10   5,605  5,303  4,247  1,056     25  2003/10/28(19:00)
2003-11  2003/11   5,605  5,231  4,382    849     19  2003/11/24(19:00)
2003-12  2003/12   5,605  5,443  4,613    830     18  2003/12/19(19:00)
2004-01  2004/01   5,599  5,308  4,627    680     15  2004/01/13(19:00)
2004-02  2004/02   5,599  5,177  4,639    539     12  2004/02/05(24:00)
2004-03  2004/03   5,649  5,002  4,546    456     10  2004/03/04(23:00)
2004-04  2004/04   5,698  5,087  4,349    739     17  2004/04/02(23:00)
2004-05  2004/05   5,698  5,260  4,237  1,023     24  2004/05/27(21:00)
2004-06  2004/06   5,698  5,132  4,594    539     12  2004/06/24(15:00)
2004-07  2004/07   5,913  5,753  5,126    626     12  2004/07/29(15:00)
2004-08  2004/08   5,913  5,839  5,118    721     14  2004/08/13(12:00)
2004-09  2004/09   5,913  5,525  4,659    866     19  2004/09/01(15:00)
2004-10  2004/10   5,913  5,156  4,427    728     17  2004/10/26(19:00)
2004-11  2004/11   5,994  5,778  4,624  1,154     25  2004/11/30(23:00)
2004-12  2004/12   5,994  5,923  4,855  1,122     23  2004/12/23(23:00)
2005-01  2005/01   5,996  5,498  4,968    530     11  2005/01/10(19:00)
2005-02  2005/02   5,996  5,598  4,999    599     12  2005/02/01(24:00)
2005-03  2005/03   5,996  5,750  4,909    841     17  2005/03/03(23:00)
2005-04  2005/04   5,999  5,658  4,527  1,131     25  2005/04/06(23:00)
2005-05  2005/05   6,099  5,646  4,442  1,204     27  2005/05/12(23:00)
2005-06  2005/06   6,099  5,521  5,060    461      9  2005/06/24(15:00)
...          ...     ...    ...    ...    ...    ...                ...
2014-07  2014/07   8,867  8,413  7,605    807     11  2014/07/25(15:00)
2014-08  2014/08   9,016  8,223  7,069  1,154     16  2014/08/26(15:00)
2014-09  2014/09   9,020  8,104  6,941  1,163     17  2014/09/01(15:00)
2014-10  2014/10   9,120  7,875  6,481  1,394     22  2014/10/28(19:00)
2014-11  2014/11   9,285  7,790  6,933    857     12  2014/11/19(10:00)
2014-12  2014/12   9,322  8,936  8,015    920     12  2014/12/17(11:00)
2015-01  2015/01   9,283  9,050  7,780  1,271     16  2015/01/08(10:00)
2015-02  2015/02   9,410  8,793  7,879    914     12  2015/02/09(11:00)
2015-03  2015/03   9,410  8,491  7,538    954     13  2015/03/10(01:00)
2015-04  2015/04   9,537  7,964  6,658  1,305     20  2015/04/08(10:00)
2015-05  2015/05   9,568  7,687  6,711    977     15  2015/05/29(15:00)
2015-06  2015/06   9,568  8,405  6,988  1,417     20  2015/06/24(15:00)
2015-07  2015/07   9,683  8,965  7,670  1,296     17  2015/07/30(15:00)
2015-08  2015/08   9,683  8,960  7,692  1,268     17  2015/08/07(15:00)
2015-09  2015/09   9,683  8,510  7,299  1,211     17  2015/09/01(15:00)
2015-10  2015/10   9,683  8,060  6,532  1,528     23  2015/10/01(17:00)
2015-11  2015/11   9,765  8,718  7,397  1,322     18  2015/11/27(11:00)
2015-12  2015/12   9,765  8,919  7,728  1,191     15  2015/12/18(10:00)
2016-01  2016/01   9,819  9,479  8,297  1,182     14  2016/01/21(11:00)
2016-02  2016/02   9,819  9,381  8,002  1,379     17  2016/02/02(10:00)
2016-03  2016/03   9,880  8,510  7,570    940     12  2016/03/02(10:00)
2016-04  2016/04   9,880  8,605  6,577  2,028     31  2016/04/07(10:00)
2016-05  2016/05   9,895  8,009  6,801  1,208     18  2016/05/31(15:00)
2016-06  2016/06   9,895  8,096  7,282    814     11  2016/06/23(15:00)
2016-07  2016/07  10,018  8,892  8,111    781     10  2016/07/26(15:00)
2016-08  2016/08  10,018  9,240  8,518    721      9  2016/08/12(17:00)
2016-09  2016/09  10,103  8,511  7,530    981     13  2016/09/05(17:00)
2016-10  2016/10  10,307  7,856  6,828  1,028     15  2016/10/31(18:00)
2016-11  2016/11  10,330  8,502  7,496  1,007     13  2016/11/30(11:00)
2016-12  2016/12  10,447  9,303  7,997  1,307     16  2016/12/16(10:00)

[168 rows x 7 columns]